#about {
  background-color: var(--blue);

  & h2 {
    color: var(--white);
  }

  & #cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    & .card {
      background-color: var(--white);
      position: relative;
      padding: 1.5rem;
      border-radius: 0.5rem;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);

      & h3 {
        margin-bottom: 1rem;
      }
    }

    & .value {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      & img {
        width: 3rem;
        margin-bottom: 1rem;
      }
    }

    & .card:nth-child(1),
    & .card:nth-child(5) {
      grid-column: 1 / 4;

      & h3 strong {
        color: var(--yellow);
      }

      & p {
        width: 51rem;
      }
    }

    & .card:nth-child(5) {
      & h3,
      & p {
        margin-left: 21rem;
      }

      & h3 strong {
        color: var(--orange);
      }
    }

    & .card:nth-child(1) img {
      height: 16.25rem;
      position: absolute;
      right: 4.375rem;
      bottom: 0;
    }

    & .card:nth-child(5) img {
      width: 280px;
      position: absolute;
      left: 1rem;
      bottom: 0;
    }
  }
}
