* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-nunito: "Nunito", sans-serif;
  --ff-gill: "gill-sans-nova", sans-serif;

  --hero: 40px var(--ff-gill);
  --title: 24px/120% var(--ff-gill);
  --subtitle: 20px/120% var(--ff-gill);
  --text: 700 16px/150% var(--ff-nunito);

  --white: #fff;
  --black: #000;
  --orange: #fe4510;
  --blue: #73abe7;
  --yellow: #ffae22;
  --green: #6d9335;
}

body {
  font: var(--text);
  font-weight: 700;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--orange);
  cursor: pointer;
  font: inherit;
  color: var(--white);
  transition: 0.4s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

h1,
h2,
h3 {
  font-family: var(--ff-gill);
}

h1 {
  font: var(--hero);
}

h2 {
  font: var(--title);
  text-align: center;
  margin-bottom: 2rem;
}

h3 {
  font: var(--subtitle);
}

section,
footer {
  padding: 2rem 4rem;
}

.mobile-only {
  display: none;
}

.desktop-only {
  display: flex;
}
