section#hero {
  background: url("../assets/background.svg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  #hero-copy {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & h1 {
      font: var(--hero);

      & span {
        color: var(--blue);
      }
    }

    & p {
      font-size: 18px;
    }
  }
}
